In [1]:
from datetime import datetime
import MetaTrader5 as mt5
import pandas as pd

In [4]:
mt5.initialize()

True

In [17]:
from_date = datetime(2023,1,5)
to_date = datetime(2024,1,5)

ticks = mt5.copy_ticks_from("EURUSD", from_date, 500, mt5.COPY_TICKS_ALL) #copy ticks from gets an integer value for how many ticks we want

df_ticks = pd.DataFrame(ticks)

df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

In [ ]:
from_date = datetime(2023,1,5)
to_date = datetime(2024,1,5)

ticks = mt5.copy_ticks_range("EURUSD", to_date, from_date, mt5.COPY_TICKS_ALL) #copy ticks range takes a start and an end

df_ticks = pd.DataFrame(ticks)

df_ticks["time"] = pd.to_datetime(df_ticks["time"], unit="s")

In [11]:
from_date = datetime.now()

bars = mt5.copy_rates_from("EURUSD", mt5.TIMEFRAME_H1, from_date, 15) #, mt5.COPY_TICKS_ALL

df_bars = pd.DataFrame(bars)

df_bars["time"] = pd.to_datetime(df_bars["time"], unit="ms")
df_bars

,time,open,high,low,close,tick_volume,spread,real_volume
0,1970-01-20 20:16:12.000,1.06686,1.06721,1.06669,1.06714,1301,6,0
1,1970-01-20 20:16:15.600,1.06714,1.06845,1.06713,1.06838,2949,6,0
2,1970-01-20 20:16:19.200,1.06839,1.06850,1.06745,1.06786,2743,6,0
3,1970-01-20 20:16:22.800,1.06786,1.06919,1.06774,1.06827,4942,6,0
4,1970-01-20 20:16:26.400,1.06828,1.06851,1.06770,1.06789,2306,6,0
5,1970-01-20 20:16:30.000,1.06789,1.06789,1.06702,1.06712,1797,6,0
6,1970-01-20 20:16:33.600,1.06711,1.06825,1.06705,1.06740,1786,6,0
7,1970-01-20 20:16:37.200,1.06740,1.07322,1.06702,1.07277,10502,6,0
8,1970-01-20 20:16:40.800,1.07279,1.07299,1.06887,1.06892,7846,6,0
9,1970-01-20 20:16:44.400,1.06888,1.07225,1.06866,1.07134,3937,6,0
10,1970-01-20 20:16:48.000,1.07100,1.07156,1.07066,1.07107,888,6,0
11,1970-01-20 20:16:51.600,1.07089,1.07203,1.07080,1.07161,1118,6,0
12,1970-01-20 20:16:55.200,1.07161,1.07178,1.07116,1.07167,985,6,0
13,1970-01-20 20:16:58.800,1.07167,1.07167,1.07091,1.07112,1588,6,0
14,1970-01-20 20:17:02.400,1.07111,1.07154,1.07067,1.07152,1148,6,0

In [8]:
from_date = datetime(2023,1,5)
to_date = datetime(2024,1,5)

ticks_2 = mt5.copy_ticks_range("EURUSD", from_date, to_date, mt5.COPY_TICKS_ALL)

df_ticks_2 = pd.DataFrame(ticks)

df_ticks_2["time"] = pd.to_datetime(df_ticks["time"], unit="ms")